@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

body {
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-family: "Space Grotesk", sans-serif;
}

.invalid-feedback {
  display: block;
  visibility: hidden;
}

.feedback {
  visibility: hidden;
  color: red;
}

div .is-invalid + .feedback {
  visibility: visible;
}

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-page .container {
  max-width: 50%;
}

.up {
  color: rgb(0, 255, 0) !important;
}

.down {
  color: red !important;
}

.coin-card {
  transition: all 0.3s;
  cursor: pointer;
}

.coin-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 30px gray;
}

/* daha fazla butonu */

.see-more {
  --hover-shadows: 16px 16px 33px #121212, -16px -16px 33px #303030;
  --accent: lightgray;
  font-weight: bold;
  letter-spacing: 0.1em;
  border: none;
  border-radius: 1.1em;
  background-color: #212121;
  cursor: pointer;
  color: white;
  padding: 0.7em 1.4em;
  transition: box-shadow ease-in-out 0.3s, background-color ease-in-out 0.1s,
    letter-spacing ease-in-out 0.1s, transform ease-in-out 0.1s;
  box-shadow: 13px 13px 10px #1c1c1c, -13px -13px 10px #262626;
}

.see-more:hover {
  box-shadow: var(--hover-shadows);
}

.see-more:active {
  box-shadow: var(--hover-shadows), var(--accent) 0px 0px 30px 5px;
  background-color: var(--accent);
  transform: scale(0.95);
}
